<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunrise.treadmill">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".TreadApplication"
        android:allowBackup="true"
        android:configChanges="locale|screenSize|keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".activity.LogoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.home.HomeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
        </activity>

        <activity
            android:name=".activity.home.NfcActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
        </activity>

        <activity
            android:name=".activity.workout.HillActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".activity.workout.IntervalActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <activity
            android:name=".activity.workout.GoalActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".activity.workout.FitnessTestActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".activity.workout.HRCActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".activity.workout.UserProgramActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <activity
            android:name=".activity.settings.SettingsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <activity
            android:name=".activity.settings.SettingsLockActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <activity
            android:name=".activity.factory.FactoriesActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <activity
            android:name=".activity.factory.Factory1Activity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <activity
            android:name=".activity.factory.Factory2Activity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" >
        </activity>
    </application>

</manifest>